* {
   
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  
}

.booleanertitle {

    border: 1px solid;color:rgb(106, 175, 255);
    padding: 60px 0;
    margin-bottom: 10px;
    background-image:url(./asset/pattern.png);
    background-repeat: repeat;
    background-color: rgb(106, 175, 255);
    
}

.logo {

    height: 60px;
    
}

.scritto {

    font-size: 25px;
}

.boo {

    font-size: 25px;
    color: deepskyblue;
}

.data {

    margin-top: 3px;
    font-size: 15px;
}

.tim {

    margin-top: 30px;
}


.text1 {

    box-sizing: unset;
    margin-left: 10px;
}

.primop {

    margin-top: 20px;
    margin-left: 10px;

}

.highlight {

    background-color: yellow;
}

.list {

    margin-left: 30px;
    margin-top: 20px;
}

table {

    margin-top: 20px;
    margin-left: 10px;
}

.maintr {

    background-color: rgb(71, 176, 224);
    color: white;
    margin-left: o;
}

.bluetr {

    margin-top: 20px;
    background-color: rgb(197, 248, 255);
    margin-right: 20px;
}

.highlight2 {

    background-color: yellow;
    
}

.p2 {

    margin-top: 20px;
    margin-left: 10px;

}

.footer {

    color:grey;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.footer1 {

    margin-bottom: 5px;
    margin-top: 20px;
    background-image: url(./asset/monitor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 208px;
    width: 312px;
    color: white;
    text-align: center;
    margin-left: 10px;


}

.footer2 {

    background-image: url(./asset/graph.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 208px;
    width: 312px;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;

}